<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- basic.html -->
  <link rel="stylesheet" href="../styles/main.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <title>RPEye</title>
  <meta charset="UTF-8" />
</head>


<div class="input-box pl-0">
<input class="form-control my-0 py-1 red-border" type="text" placeholder="Search" aria-label="Search">
<div class="input-group-append">
  <span class="input-group-text red lighten-3" id="basic-text1"><i class="fa fa-search text-grey" aria-hidden="true"></i></span>
</div>
</div>



</html>
