body {
  background-color: white;
  overflow: scroll;
}

/* Background contains the whole page */
#background {
  background-color: white;
  height: 100%;
  width: 100%;
}

/* top row contains the logo, the search bar, and the go button. */
#top-row {
  position: relative;
  background-color: white;
  width: 1000px;
  height: 100px;
  top: 25px;
  align: center;
  margin: 0 auto;
}

/* Searchbar should contain the query relating to the results displayed */
#searchbar {
  position: relative;
  top: -20px;
  left: 7%;
  width: 60%;
  height: 35px;
  border-radius: 15px;
  border-color: black;
  text-align: left;
  font-size: 15px;
  color: black;
  border: 0px #000000 solid;
  padding: 5px 5px 5px 40px;
  background: #f2f2f2 url("/SearchIcon.png") left no-repeat;
  background-size: 20px 20px;
  background-position: 10px 8px;
}

/* Go button next to the search bar */
#go-button {
  position: relative;
  left: 10%;
  top: -20px;
  width: 100px;
  height: 35px;
  border-radius: 5px;
  border: 2px solid #e0e0e0;
  background: #ffffff;
  font-size: 20px;
  z-index: 1;
}

/* Logo image */
#logo {
  position: relative;
  border-radius: 15px;
  left: 5%;
  top: 0px;
  height: 100%;
  width: height;
}

/* Container for the second row */
#second-row {
  position: relative;
  background-color: white;
  width: 1000px;
  height: 40px;
  top: 25px;
  align: center;
  margin: 0 auto;
}

/* Number of results bar */
#results-num {
  display: inline-block;
  position: relative;
  top: 5px;
  left: 18%;
  height: 60%;
  line-height: 25px;
  width: 300px;
  font-size: 18px;
  background-color: #ffc15e;
  border-radius: 7px;
  text-align: center;
  vertical-align: bottom;
  font-family: sans-serif;
  color: white;
}

/* Container for the list of results */
#list-container {
  position: relative;
  background-color: white;
  top: 25px;
  width: 700px;
  align: center;
  margin: 0 auto;
}

/* List of the results */
#list {
  list-style-type: none;
  line-height: 5px;
  font-family: sans-serif;
}

/* Elements of the list */
#list-el {
  padding: 0 0 10px 0;
}

/* The scrollbar for the list of results */
body::-webkit-scrollbar {
  background-color: white;
  border-radius: 10px;
  width: 20px;
}
body::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #efefef;
}
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #4f9fad;
}
body::-webkit-scrollbar-thumb:hover {
  background: #2f808e;
}

/* Numbers of pages */
#page-container {
  position: relative;
  background-color: white;
  bottom: 10px;
  width: 700px;
  height: 5%;
  align: center;
  margin: 0 auto;
  padding-top: 5px;
}

/* previous button */
#prev {
  border: 2px #cccccc solid;
  color: #4f9fad;
  border-radius: 10px;
  top: 20px;
  left: 20%;
  height: 100%;
  width: 75px;
  float: left;
  margin-left: 35%;
  font-family: sans-serif;
  font-size: 22px;
  text-align: center;
  line-height: 50px;
}

#prev:hover {
  background-color: #e0e0e0;
}

/* next button */
#next {
  border: 2px #cccccc solid;
  color: #4f9fad;
  border-radius: 10px;
  top: 20px;
  left: 40%;
  height: 100%;
  width: 75px;
  float:left;
  margin-left: 10px;
  font-family: sans-serif;
  font-size: 22px;
  text-align: center;
  line-height: 50px;
}

#next:hover {
  background-color: #e0e0e0;
}
